/* .center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
} */

img {
  max-width: 100%;
  height: auto;
}

.fukidashi_text {
  position: relative;
  width: 100%;
  padding: 1em;
  font-size: 50px;
  background: #007F76;
  color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}

.fukidashi_text::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 40%;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #007F76;
  /* -webkit-transform: rotate(35deg); */
  transform: rotate(25deg);
}

input{
    color: black;
    text-align: left;
}

form {
    line-height: 1.6;
    text-align: center;
  }

  .dropdown{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .each-form{
    padding-top: 10px;  
    width: 100%; /* or whatever width you want */
    margin: auto; /* this will center the form if the parent is wider */
  }

  table {
    margin: auto;
}


table td {
    padding: 3px;
}


.submit-button {
    text-align: center;
    padding: 10px;
}



.pager_wrap {
  margin-top: 40px;
  position: relative;
  bottom: 40px;
  right: 0;
  left: 0;
  max-width: 85%;
  margin: 0 auto;
}


.next_step_btn {
  width: 221px;
  position: relative;
  font-size: 13px;
  color: #fff;
  background: #D85041;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51px;
  border-radius: 3px;
  box-shadow: 0px 4px 6px #d8504133;
  transition: .2s ease-out;
  cursor: pointer;
}


.next_step_btn::after {
  content: '';
  display: inline-block;
  background: url(../images/right_arrow.svg) no-repeat center center;
  background-size: contain;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 10px;
}
.back_step_btn {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 6px #d8504133;
  font-size: 13px;
  transition: .2s ease-out;
  font-weight: bold;
}
.back_step_btn:hover {
  color: inherit;
  transform: translateX(-2px);
  cursor: pointer;
}
.back_step_btn::before {
  content: '';
  display: inline-block;
  background: url(../images/back_arrow.svg) no-repeat center center;
  background-size: contain;
  width: 10px;
  height: 10px;
  margin-right: 8px;
}

.step2{
  text-align: center;
  margin: auto
}

.pager_inner {
  display: flex;
  justify-content: center;
  align-items: center;
}


footer{
  background-color: grey;
  text-align: center;
}
